In [1]:
import numpy as np
import pandas as pd

In [2]:
#Reading the data 
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [3]:
#checking for missing values
df.isnull().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [5]:

df_clean = df.drop(columns = ['stab'])
features_df = df_clean.drop(columns = ['stabf'])
target = df_clean['stabf']

In [7]:
#Split the data into an 80-20 train-test split with a random state of “1”.

from sklearn.model_selection import train_test_split
x_train, x_test,  y_train, y_test = train_test_split(features_df, target, test_size = 0.2, random_state = 1)

In [10]:
x_train.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
2694,6.255995,2.542401,7.024714,9.476518,3.529888,-1.224881,-0.688228,-1.616780,0.568221,0.618403,0.685739,0.660088
5140,5.070581,5.490253,8.075688,0.761075,4.220888,-1.280596,-1.902185,-1.038107,0.443515,0.097244,0.916955,0.129254
2568,1.220072,8.804028,3.874283,8.433949,3.614027,-1.039236,-0.953566,-1.621224,0.908353,0.923594,0.238881,0.660156
3671,7.498402,6.697603,8.798626,2.126236,3.134585,-1.581906,-0.589386,-0.963293,0.260826,0.899003,0.964752,0.600598
7427,7.074006,1.337511,6.100756,7.759156,2.526922,-0.922540,-0.632600,-0.971782,0.984580,0.716082,0.836928,0.165162

In [9]:
x_test.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
9953,6.877876,4.113820,9.356768,8.299753,4.056779,-1.897470,-1.590581,-0.568728,0.276567,0.845536,0.112440,0.822562
3850,5.802841,6.271371,4.731540,3.819867,3.579569,-1.709480,-1.067511,-0.802579,0.077527,0.416478,0.912846,0.861306
4962,2.286998,4.385142,2.830232,5.293880,3.035814,-1.202764,-0.902011,-0.931039,0.924216,0.130186,0.703887,0.063811
3886,5.019920,2.209962,6.266080,0.578901,4.322584,-1.960207,-1.074561,-1.287815,0.546910,0.065992,0.427349,0.814648
5437,7.646145,9.187896,5.484219,9.934313,3.634226,-1.254541,-1.335366,-1.044319,0.561528,0.121611,0.787318,0.300314

In [11]:
#Using standard scaler to transform the train set (x_train, y_train) and the test set (x_test).

from sklearn.preprocessing import StandardScaler
norm_train = pd.DataFrame(StandardScaler().fit_transform(x_train), columns = x_train.columns)
norm_test = pd.DataFrame(StandardScaler().fit_transform(x_test), columns = x_test.columns)

In [ ]:
#Use scikit learn to train a random forest
#Use scikit learn to train a extra trees classifier.
# And use xgboost and lightgbm to train an extreme boosting model and a light gradient boosting model. 
#Use random_state = 1 for training all models and evaluate on the test set.

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score, #precision_score, f1_score, confusion_matrix

# Question 1

In [36]:
True_P = 355
True_n = 120
False_P = 1480
False_n = 45
Precision = (True_P/(True_P+False_P))
Recall = (True_P/(True_P+False_n))
F1 = 2 * (Precision * Recall) / (Precision + Recall)
print('f1_score is: ', F1)

f1_score is:  0.3176733780760626

# Question 14

In [16]:
forest = RandomForestClassifier(random_state = 1)
forest.fit(norm_train, y_train)
Pred = forest.predict(norm_test)
accuracy = accuracy_score(y_true = y_test, y_pred = Pred)

print('Accuracy: {}'.format(round(accuracy, 4)))

Accuracy: 0.928

In [ ]:
15 - xgboost
16 LGBm
17 - to improve Extra tree classifier
18 - comparism
19 - feature importance using the optimal ExtraTreesClassifier model

# Question 15

In [19]:
XGB = XGBClassifier(random_state = 1, learning_rate = 0.1, max_depth = 3)
XGB.fit(norm_train, y_train)
pred_xgb = XGB.predict(norm_test)
accuracy = accuracy_score(y_true = y_test, y_pred = pred_xgb)

print('Accuracy: {}'.format(round(accuracy, 4)))

Accuracy: 0.919

# Question 16

In [23]:
LGBM = LGBMClassifier(random_state = 1)
LGBM.fit(norm_train, y_train)
pred_lgbm = LGBM.predict(norm_test)
accuracy = accuracy_score(y_true = y_test, y_pred = pred_lgbm)
print('Accuracy: {}'.format(round(accuracy, 4)))

Accuracy: 0.9355

In [ ]:
#Also, to improve the Extra Trees Classifier, you will use the following parameters 
#(number of estimators, minimum number of samples, minimum number of samples for leaf node 
#and the number of features to consider when looking for the best split) for the hyperparameter 
#grid needed to run a Randomized Cross Validation Search (RandomizedSearchCV).

# Question 17

In [25]:
tree = ExtraTreesClassifier(random_state = 1)
tree.fit(norm_train, y_train)
pred = tree.predict(norm_test)
accuracy = accuracy_score(y_true = y_test, y_pred = pred)



print('Accuracy: {}'.format(round(accuracy, 4)))

Accuracy: 0.926

In [27]:
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None] 

hyperparameter_grid = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [30]:
from sklearn.model_selection import RandomizedSearchCV
rsv = RandomizedSearchCV(tree, hyperparameter_grid, cv =5, n_iter = 10, scoring = 'accuracy', n_jobs =  -1, verbose = 1, random_state = 1)
search = rsv.fit(norm_train, y_train)
search.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  4.1min finished

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [31]:
tree_search = ExtraTreesClassifier(**search.best_params_)
tree_search.fit(norm_train, y_train)

ExtraTreesClassifier(max_features=None, min_samples_leaf=8, n_estimators=1000)

In [32]:
pred = tree_search.predict(norm_test)
accuracy = accuracy_score(y_true = y_test, y_pred = pred)

print('Accuracy: {}'.format(round(accuracy, 4)))

Accuracy: 0.93

# Question 20

In [35]:
def importance(model, feat, col):#this function returns the importance of every feature
    feature_importance = pd.Series(model.feature_importances_, feat.columns).sort_values()
    feature_importance_df = pd.DataFrame(feature_importance).reset_index()
    feature_importance_df.columns = ['Features', col]
    feature_importance_df[col].round(3)
    return feature_importance_df
get_importance = importance(tree_search, norm_train, 'Feature_Importance')
get_importance

   Features  Feature_Importance
0        p1            0.003708
1        p4            0.005160
2        p3            0.005407
3        p2            0.005421
4        g1            0.103058
5        g2            0.108196
6        g4            0.109309
7        g3            0.112670
8      tau3            0.134154
9      tau4            0.134931
10     tau1            0.137524
11     tau2            0.140463